<p id="notice"><%= notice %></p>

<h1>Factory Orders</h1>

<table>
  <thead>
    <tr>
      <th>Fo</th>
      <th>Sku</th>
      <th>Group</th>
      <th>Dispatched</th>
      <th>Available</th>
      <th>Quantity</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @factory_orders.each do |factory_order| %>
      <tr>
        <td><%= factory_order.fo_id %></td>
        <td><%= factory_order.sku %></td>
        <td><%= factory_order.group %></td>
        <td><%= factory_order.dispatched %></td>
        <td><%= factory_order.available %></td>
        <td><%= factory_order.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>