<p id="notice"><%= notice %></p>

<p>
  <strong>Fo:</strong>
  <%= @factory_order.fo_id %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @factory_order.sku %>
</p>

<p>
  <strong>Group:</strong>
  <%= @factory_order.group %>
</p>

<p>
  <strong>Dispatched:</strong>
  <%= @factory_order.dispatched %>
</p>

<p>
  <strong>Available:</strong>
  <%= @factory_order.available %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @factory_order.quantity %>
</p>

<%= link_to 'Edit', edit_factory_order_path(@factory_order) %> |
<%= link_to 'Back', factory_orders_path %>
