<p id="notice"><%= notice %></p>

<center>
  <h1>Grupo 1</h1>
</center>

<div class="container">
  <h2> Almacenes </h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tipo</th>
      <th>Capacidad</th>
      <th>Disponible</th>
      <th>Utilizado</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @almacenes.each do |almacen| %>
        <tr>
          <td><%= almacen.type %></td>
          <td><%= almacen.total_space %></td>
          <td><%= (almacen.total_space - almacen.used_space) %></td>
          <td><%= almacen.used_space %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Productos</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Sku</th>
      <th>Nombre</th>
      <th>Stock</th>
      <th>Stock Disponible</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @productos.each do |producto| %>
        <tr>
          <td><%= producto[:sku] %></td>
          <td><%= producto[:name] %></td>
          <td><%= producto[:stock] %></td>
          <td><%= producto[:stock_available] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h2> Ordenes de Producción </h2>
  <% if @factory_orders != nil %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Fecha Disponible</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @factory_orders.each do |factoryOrder| %>
            <tr>
              <td><%= factoryOrder.product.name %></td>
              <td><%= factoryOrder.quantity %></td>
              <td><%= factoryOrder.available %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <h3> Servidor colapsado </h3>
  <% end %>
</div>



<div class="container">
  <h2> Unidades</h2>
  <%= column_chart [['Boletas', @bills.size]],
                   title: 'Cantidad de Boletas Generadas', width: '500px'%>
  <h2> Monto</h2>
  <%= column_chart [['Boletas', @bills_sum]],
                   title: 'Monto total ventas con boleta', width: '500px'%>
</div>

<div class="container">
  <h2> Unidades</h2>
  <%= column_chart [['Transacciones Exitosas', @transactions.count], ['Transacciones Fallidas', @failed.count]],
                   title: 'Cantidad de transacciones', width: '500px'%>
  <h2> Monto</h2>
  <%= column_chart [['Transacciones Exitosas', @transactions.sum {|h| h[:monto]} ],
                    ['Transacciones Fallidas', @failed.sum(:amount)]],
                   title: 'Monto total a transferir', width: '500px'%>
</div>

<div class="container">
  <h2> Ordenes Distribuidores</h2>
  <%= column_chart [['Recibidas', @ftp.count],
                    ['Completadas', @complete_ftp.count],
                    ['Rechazadas', @rejected_ftp.count]],
                   title: '', width: '500px'%>
</div>

<br>
