<%= form_tag(created_purchase_orders_path) do %>
  <% if purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% purchase_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :Cliente %>
    <%= collection_select :cliente, :id, Producer.where(me: false), :producer_id, :group_number, { :class => 'cliente_selection' } %>
  </div>

  <div class="field">
    <%= label_tag :Product %>
  </div>
  <%= collection_select :products, :ids, @products, :sku, :name, { :class => 'product_selection'} %>

  <div class="field">
    <%= label_tag :cantidad %>
    <%= number_field_tag :cantidad %>
  </div>

  <div class="field">
    <%= label_tag :precio_unitario %>
    <%= number_field_tag :precio_unitario %>
  </div>

  <div class="field">
    <%= label_tag :payment_method  %>
    <%= text_field_tag :payment_method  %>
  </div>

  <div class="field">
    <%= label_tag :fecha_entrega  %>
    <%= date_select('birthday' , '', :start_year => 2017, :end_year => 2020, :order => [:day, :month, :year], :use_short_month => true )%>
  </div>

  <div class="actions">
    <%= submit_tag%>
  </div>
<% end %>

<script type="text/javascript">
  $('.product_selection').empty();
  $('.product_selection').append( $('<option>Select the product</option>'));
  <% @products.each do |product| %>
    $('.contact_selection').append($('<option value="<%= product.sku %>"><%= product.name %></option>'));
  <% end %>
</script>
