<p id="notice"><%= notice %></p>

<h1>Own Purchase Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Po</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Estado</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @own_purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.po_id %></td>
        <td><%= purchase_order.get_product.name %></td>
        <td><%= purchase_order.quantity %></td>
        <td><%= purchase_order.status %></td>
        <td><%= link_to 'Show', purchase_order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Received Purchase Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Po</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Cantidad despachada</th>
      <th>Estado</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @received_purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.po_id %></td>
        <td><%= purchase_order.get_product.name %></td>
        <td><%= purchase_order.quantity %></td>
        <td><%= purchase_order.quantity_dispatched %></td>
        <td><%= purchase_order.status %></td>
        <td><%= link_to 'Show', purchase_order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Dispatched Purchase Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Po</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Cantidad despachada</th>
      <th>Estado</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispatched_purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.po_id %></td>
        <td><%= purchase_order.get_product.name %></td>
        <td><%= purchase_order.quantity %></td>
        <td><%= purchase_order.quantity_dispatched %></td>
        <td><%= purchase_order.status %></td>
        <td><%= link_to 'Show', purchase_order %></td>
      </tr>
    <% end %>
  </tbody>
</table>
