<p id="notice"><%= notice %></p>

<h1>B2B Purchase Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Po</th>
      <th>Cliente</th>
      <th>Proveedor</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Cantidad despachada</th>
      <th>Estado</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @b2b_purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.po_id %></td>
        <td><%= purchase_order.get_client %></td>
        <td><%= purchase_order.get_supplier %></td>
        <td><%= purchase_order.product.name %></td>
        <td><%= purchase_order.quantity %></td>
        <td><%= purchase_order.quantity_dispatched %></td>
        <td><%= purchase_order.status %></td>
        <td><%= link_to 'Show', purchase_order %></td>
        <td><%= link_to 'Destroy', purchase_order_path(id: purchase_order.id), method: :delete, data: { confirm: '¿Estás segur@?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>B2C Purchase Orders</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Po</th>
    <th>Cliente</th>
    <th>Proveedor</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Cantidad despachada</th>
    <th>Estado</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @b2c_purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.po_id %></td>
        <td><%= purchase_order.get_client %></td>
        <td><%= purchase_order.get_supplier %></td>
        <td><%= purchase_order.product.name %></td>
        <td><%= purchase_order.quantity %></td>
        <td><%= purchase_order.quantity_dispatched %></td>
        <td><%= purchase_order.status %></td>
        <td><%= link_to 'Show', purchase_order %></td>
        <td><%= link_to 'Destroy', purchase_order_path(id: purchase_order.id), method: :delete, data: { confirm: '¿Estás segur@?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h1>FTP Purchase Orders</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Po</th>
    <th>Cliente</th>
    <th>Proveedor</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Cantidad despachada</th>
    <th>Estado</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @ftp_purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.po_id %></td>
        <td><%= purchase_order.get_client %></td>
        <td><%= purchase_order.get_supplier %></td>
        <td><%= purchase_order.product.name %></td>
        <td><%= purchase_order.quantity %></td>
        <td><%= purchase_order.quantity_dispatched %></td>
        <td><%= purchase_order.status %></td>
        <td><%= link_to 'Show', purchase_order %></td>
        <td><%= link_to 'Destroy', purchase_order_path(id: purchase_order.id), method: :delete, data: { confirm: '¿Estás segur@?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>