<p id="notice"><%= notice %></p>

<h1>Purchase Orders</h1>

<table>
  <thead>
    <tr>
      <th>Po</th>
      <th>Payment method</th>
      <th>Store reception</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.po_id %></td>
        <td><%= purchase_order.payment_method %></td>
        <td><%= purchase_order.store_reception_id %></td>
        <td><%= purchase_order.status %></td>
        <td><%= link_to 'Show', purchase_order %></td>
        <td><%= link_to 'Edit', edit_purchase_order_path(purchase_order) %></td>
        <td><%= link_to 'Destroy', purchase_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase Order', new_purchase_order_path %>
