<p id="notice"><%= notice %></p>

<% if @response.nil? %>
    <h2>
      Servidor colapsado
    </h2>
<% else %>
    <p>
      <strong>Grupo Cliente:</strong>
      <%= @cliente %>
    </p>

    <p>
      <strong>Grupo Proveedor:</strong>
      <%= @proveedor %>
    </p>

    <p>
      <strong>Producto:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Precio unitario:</strong>
      <%= @response[:precioUnitario]%>
    </p>

    <p>
      <strong>Cantidad:</strong>
      <%= @response[:cantidad]%>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= @response[:estado]%>
    </p>

    <p>
      <strong>Canal:</strong>
      <%= @response[:canal]%>
    </p>

    <p>
      <strong>Cantidad Despachada:</strong>
      <%= @response[:cantidadDespachada]%>
    </p>

    <p>
      <strong>Fecha Entrega:</strong>
      <%= @response[:fechaEntrega]%>
    </p>

    <% if @proveedor == ENV['GROUP_NUMBER'].to_i %>
      <% if @response[:estado] == "creada" %>
        <%= link_to 'Accept', { :controller => :purchase_orders, :action => :accept, :po_id => @purchase_order.po_id, :client_id => @response[:cliente] }, {:method => :patch } %> |
        <%= link_to 'Reject', { :controller => :purchase_orders, :action => :reject, :po_id => @purchase_order.po_id, :client_id => @response[:cliente] }, {:method => :patch } %> |
      <% elsif @purchase_order.sending != true && @response[:estado] == "aceptada"  %>
        <%= link_to 'Dispatch', dispatch_purchase_order_path(id: @purchase_order.id) %> |
      <% end %>
    <% end %>

<% end %>

<%= link_to 'Back', purchase_orders_path %>
