<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @responce %>
</p>

<%= link_to 'Accept', { :controller => :purchase_orders, :action => :accept, :id => @purchase_order.po_id }, { :method => :patch } %>|
<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
