<p id="notice"><%= notice %></p>


<p>
  <strong>Grupo Cliente:</strong>
  <%= @purchase_order.get_client.group_number %>
</p>

<p>
  <strong>Grupo Proveedor:</strong>
  <%= @purchase_order.get_supplier.group_number %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @purchase_order.get_product.name %>
</p>

<p>
  <strong>Precio unitario:</strong>
  <%= @purchase_order.unit_price %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @purchase_order.quantity %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @server_body[:estado] %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @server_body[:canal] %>
</p>

<p>
  <strong>Cantidad Despachada:</strong>
  <%= @server_body[:cantidadDespachada] %>
</p>

<p>
  <strong>Fecha Entrega:</strong>
  <%= @purchase_order.delivery_date %>
</p>

<p>
  <strong>Motivo Rechazo:</strong>
  <%= @server_body[:rechazo]%>
</p>

<p>
  <strong>Motivo Anulación:</strong>
  <%= @server_body[:anulacion]%>
</p>

<p>
  <strong>Store reception id:</strong>
  <%= @purchase_order.store_reception_id %>
</p>

<h2>
  Facturas
</h2>

<% if !@purchase_order.is_made_by_me %>
    <% if Invoice.find_by(po_id: @purchase_order.po_id).nil? %>
        <%= link_to 'Crear factura', create_invoice_purchase_order_path(id: @purchase_order.id), { :method => :patch } %>
    <% end %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @purchase_order.get_invoices.each do |invoice| %>
      <tr>
        <td><%= invoice._id %></td>
        <td><%= link_to 'Show', invoice_path(id: invoice.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', purchase_orders_path %>
