<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>IsBill</th>
    <th>Proveedor</th>
    <th>Cliente</th>
    <th>Total</th>
    <th>Status</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice._id %></td>
        <td><%= invoice.is_bill %></td>
        <td><%= invoice.get_supplier %></td>
        <td><%= invoice.get_client %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.status %></td>
        <% purchase_order = invoice.get_purchase_order %>
        <% if purchase_order != nil %>
            <td><%= link_to 'Show PO', purchase_order_path(id: purchase_order.id) %></td>
        <% end %>
        <td><%= link_to 'Show Invoice', invoice_path(invoice) %></td>
        <td><%= link_to 'Cancel', cancel_invoice_path(id: invoice.id), method: :patch, data: { confirm: '¿Estás segur@?' } %></td>
        <td><%= link_to 'Destroy', invoice_path(id: invoice.id), method: :delete, data: { confirm: '¿Estás segur@?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>