<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Es boleta</th>
    <th>Proveedor</th>
    <th>Cliente</th>
    <th>Total</th>
    <th>OC</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice._id %></td>
        <td><%= invoice.is_bill %></td>
        <td><%= invoice.supplier_id %></td>
        <td><%= invoice.client_id %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.po_id %></td>
        <td><%= link_to 'Server details', invoice_path(invoice) %></td>
      </tr>
  <% end %>
  </tbody>
</table>