<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @server_body[:estado] %>
</p>

<p>
  <strong>Bruto:</strong>
  <%= @server_body[:bruto] %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @server_body[:iva] %>
</p>

<p>
  <strong>Motivo rechazo:</strong>
  <%= @server_body[:rechazo] %>
</p>

<p>
  <strong>Motivo anulación:</strong>
  <%= @server_body[:anulacion] %>
</p>

<%= link_to 'Back', invoices_path %>
