<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @invoice.status %>
</p>

<p>
  <strong>PO Id:</strong>
  <%= @invoice.po_id %>
</p>


<p>
  <strong>Motivo rechazo:</strong>
  <%= @invoice.rejected_reason %>
</p>

<p>
  <strong>Motivo anulación:</strong>
  <%= @invoice.cancelled_reason %>
</p>

<p>
  <strong>Analyzing:</strong>
  <%= @invoice.analyzing %>
</p>

<%= link_to 'Back', invoices_path %>
