<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @invoice.status %>
</p>

<p>
  <strong>PO Id:</strong>
  <%= @invoice.po_id %>
</p>

<p>
  <strong>Bank Id:</strong>
  <%= @invoice.get_bank_account %>
</p>

<p>
  <strong>Trx id:</strong>
  <%= @invoice.trx_id %>
</p>

<p>
  <strong>Motivo rechazo:</strong>
  <%= @invoice.rejected_reason %>
</p>

<p>
  <strong>Motivo anulación:</strong>
  <%= @invoice.cancelled_reason %>
</p>

<p>
  <strong>Analyzing:</strong>
  <%= @invoice.analyzing %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @invoice.accepted %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @invoice.paid %>
</p>

<br>

<%= link_to 'Back', invoices_path %>
