<p id="notice"><%= notice %></p>

<h1>Product In Sales</h1>

<table>
  <thead>
    <tr>
      <th>Producer</th>
      <th>Product</th>
      <th>Price</th>
      <th>Average time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_in_sales.each do |product_in_sale| %>
      <tr>
        <td><%= product_in_sale.producer %></td>
        <td><%= product_in_sale.product %></td>
        <td><%= product_in_sale.price %></td>
        <td><%= product_in_sale.average_time %></td>
        <td><%= link_to 'Show', product_in_sale %></td>
        <td><%= link_to 'Edit', edit_product_in_sale_path(product_in_sale) %></td>
        <td><%= link_to 'Destroy', product_in_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product In Sale', new_product_in_sale_path %>
