<p id="notice"><%= notice %></p>

<h1>Product In Sales</h1>

<table>
  <thead>
    <tr>
      <th>Producer</th>
      <th>Product</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Average time</th>
      <th>Mine</th>
    </tr>
  </thead>

  <tbody>
    <% @product_in_sales.each do |product_in_sale| %>
      <tr>
        <td><%= product_in_sale.producer.group_number %></td>
        <td><%= product_in_sale.product.name %></td>
        <td><%= product_in_sale.price %></td>
        <td><%= product_in_sale.stock %></td>
        <td><%= product_in_sale.average_time %></td>
        <td><%= product_in_sale.is_mine %></td>
      </tr>
    <% end %>
  </tbody>
</table>