<p id="notice"><%= notice %></p>

<p>
  <strong>Producer:</strong>
  <%= @product_in_sale.producer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_in_sale.product %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_in_sale.price %>
</p>

<p>
  <strong>Average time:</strong>
  <%= @product_in_sale.average_time %>
</p>

<%= link_to 'Edit', edit_product_in_sale_path(@product_in_sale) %> |
<%= link_to 'Back', product_in_sales_path %>
