<p id="notice"><%= notice %></p>

<p>
  <strong>Producto: </strong>
  <%= @pending_product.product.name %>
</p>

<p>
  <strong>Cantidad: </strong>
  <%= @pending_product.quantity %>
</p>

<table>
  <thead>
  <tr>
    <th>Producto</th>
    <th>Proveedor</th>
    <th>Lote</th>
    <th>Cantidad</th>
    <th>Tiempo</th>
    <th>Orden Enviada</th>
  </tr>
  </thead>

  <tbody>
  <% @pending_product.purchased_products.each do |purchased_product| %>
      <tr>
        <td><%= purchased_product.product.name %></td>
        <td><%= purchased_product.producer.group_number %></td>
        <td><%= purchased_product.lote %></td>
        <td><%= purchased_product.quantity %></td>
        <td><%= purchased_product.produce_time %></td>
        <td><%= purchased_product.order_sent %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', pending_products_path %>
