<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Client</th>
      <th>Grossvalue</th>
      <th>Iva</th>
      <th>Totalvalue</th>
      <th>Paymentstatus</th>
      <th>Pushaseorderid</th>
      <th>Paymentdeadline</th>
      <th>Rejectioncause</th>
      <th>Cancellationcause</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.supplier %></td>
        <td><%= bill.client %></td>
        <td><%= bill.grossValue %></td>
        <td><%= bill.iva %></td>
        <td><%= bill.totalValue %></td>
        <td><%= bill.paymentStatus %></td>
        <td><%= bill.pushaseOrderId %></td>
        <td><%= bill.paymentDeadline %></td>
        <td><%= bill.rejectionCause %></td>
        <td><%= bill.cancellationCause %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
