<p id="notice"><%= notice %></p>

<h1>Purshase Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Payment Method</th>
      <th>Store Reception Id</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purshase_orders.each do |purshase_order| %>
      <tr>
        <td><%= purshase_order.po_id %></td>
        <td><%= purshase_order.payment_method %></td>
        <td><%= purshase_order.store_reception_id %></td>
        <td><%= purshase_order.status %></td>
        <td><%= link_to 'Show', purshase_order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purshase Order', new_purshase_order_path %>
