<%= form_with(model: store_house, local: true) do |form| %>
  <% if store_house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store_house.errors.count, "error") %> prohibited this store_house from being saved:</h2>

      <ul>
      <% store_house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usedSpace %>
    <%= form.number_field :usedSpace, id: :store_house_usedSpace %>
  </div>

  <div class="field">
    <%= form.label :totalSpace %>
    <%= form.number_field :totalSpace, id: :store_house_totalSpace %>
  </div>

  <div class="field">
    <%= form.label :reception %>
    <%= form.check_box :reception, id: :store_house_reception %>
  </div>

  <div class="field">
    <%= form.label :dispatch %>
    <%= form.check_box :dispatch, id: :store_house_dispatch %>
  </div>

  <div class="field">
    <%= form.label :external %>
    <%= form.check_box :external, id: :store_house_external %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
