<h1>Mover productos internamente</h1>

<% if @store_houses != nil %>
  <%= form_tag(post_move_internally_store_house_path) do %>

    <div class="field">
      <%= label_tag :desde %>
      <select name="from_store_house_id">
        <% @store_houses.each do |store_house| %>
            <option value="<%= store_house._id %>">
              <%= store_house.type + ' (id: ' + store_house._id + ')' %>
            </option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <%= label_tag :hacia %>
      <select name="to_store_house_id">
        <% @store_houses.each do |store_house| %>
            <option value="<%= store_house._id %>">
              <%= store_house.type + ' (id: ' + store_house._id + ')' %>
            </option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <%= label_tag :sku %>
      <select name="sku">
        <% Product.all.each do |product| %>
            <option value="<%= product.sku %>">
              <%= product.name + ' (sku: ' + product.sku + ')' %>
            </option>
        <% end %>
      </select>
    </div>
    <div class="field">
      <%= label_tag :cantidad %>
      <%= number_field_tag :quantity %>
    </div>

    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
<% else %>
    <h2>Servidor colapsado</h2>
<% end %>

<%= link_to 'Back', store_houses_path %>