<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @store_house.id %>
</p>

  <strong>Disponible:</strong>
  <%= @store_house.available_space %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @store_house.type %>
</p>

<h2>Inventario</h2>
<table>
  <thead>
  <tr>
    <th>Producto</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <% @store_house.stocks.each do |stock| %>
      <% if stock.quantity > 0 %>
          <tr>
            <td><%= stock.product.name %></td>
            <td><%= stock.quantity %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', store_houses_path %>
