<p id="notice"><%= notice %></p>

<p>
  <strong>Usedspace:</strong>
  <%= @store_house.usedSpace %>
</p>

<p>
  <strong>Totalspace:</strong>
  <%= @store_house.totalSpace %>
</p>

<p>
  <strong>Reception:</strong>
  <%= @store_house.reception %>
</p>

<p>
  <strong>Dispatch:</strong>
  <%= @store_house.dispatch %>
</p>

<p>
  <strong>External:</strong>
  <%= @store_house.external %>
</p>

<%= link_to 'Edit', edit_store_house_path(@store_house) %> |
<%= link_to 'Back', store_houses_path %>
