<p id="notice"><%= notice %></p>

<% if @store_house != nil and @stock != nil %>
  <p>
    <strong>Id:</strong>
    <%= @store_house[:_id] %>
  </p>

  <p>
    <strong>Capacidad:</strong>
    <%= @store_house[:totalSpace] %>
  </p>

  <p>
    <strong>Utilizado:</strong>
    <%= @store_house[:usedSpace] %>
  </p>

  <p>
    <strong>Disponible:</strong>
    <%= @store_house[:availableSpace] %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= @store_house[:type] %>
  </p>

  <h2>Inventario</h2>
    <table>
      <thead>
      <tr>
        <th>Sku</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
        <% @stock.each do |p| %>
          <tr>
            <td><%= p[:sku] %></td>
            <td><%= p[:total] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
    <p>
      <strong>Servidor colapsado</strong>
    </p>
<% end %>

<%= link_to 'Back', store_houses_path %>
