<p id="notice"><%= notice %></p>

<p>
  <strong>Producer:</strong>
  <%= @producer.producer_id %>
</p>

<p>
  <strong>Group number:</strong>
  <%= @producer.group_number %>
</p>

<p>
  <strong>Account:</strong>
  <%= @producer.account %>
</p>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
