<p id="notice"><%= notice %></p>

<p>
  <strong>Originaccount:</strong>
  <%= @transaction.originAccount %>
</p>

<p>
  <strong>Destinationaccount:</strong>
  <%= @transaction.destinationAccount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
