<p id="notice"><%= notice %></p>

<h1>Comprar <%= @product.name %> a Proveedor </h1>

<%= form_tag(post_buy_to_producer_product_path(id: @product.id)) do %>

    <div class="field">
      <%= label_tag :cantidad %>
      <%= number_field_tag :quantity %>
    </div>

    <div class="field">
      <%= label_tag :tiempo_maximo %>
      <%= number_field_tag :maximum_time %>
    </div>

    <div class="field">
      <%= label_tag :proveedor %>
      <select name="producer_id">
        <% @product_in_sales.each do |product_in_sale| %>
            <option value="<%= product_in_sale.producer.producer_id %>">
              <%= product_in_sale.producer.group_number.to_s + ' (id: ' + product_in_sale.producer.producer_id + ')' %>
            </option>
        <% end %>
      </select>
    </div>

    <div class="actions">
      <%= submit_tag%>
    </div>
<% end %>

<%= link_to 'Back', products_path %>