<p id="notice"><%= notice %></p>

<h1>Comprar Ingredientes Para Producir <%= @product.name %></h1>

<table>
  <thead>
  <tr>
    <th>Proveedor</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Tiempo</th>
    <th>Precio</th>
  </tr>
  </thead>

  <tbody>
  <% @purchase_ingredients.each do |ingredient| %>
      <tr>
        <td><%= Producer.find_by(producer_id: ingredient[:producer_id]).group_number %></td>
        <td><%= Product.find_by(sku: ingredient[:sku]).name %></td>
        <td><%= ingredient[:quantity] %></td>
        <td><%= ingredient[:time] %></td>
        <td><%= ingredient[:price] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Comprar', { :controller => 'products', :action => 'post_confirm_produce', :quantity => @quantity, :purchase_ingredients => @purchase_ingredients }, { :method => :post  } %>

<br>

<%= link_to 'Back', products_path %>