<p id="notice"><%= notice %></p>

<h1>Comprar <%= @product.name %> a Fabrica </h1>

<table>
  <thead>
  <tr>
    <th>Producto</th>
    <th>Cantidad</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @quantity %></td>
  </tr>
  </tbody>
</table>



<%= link_to 'Comprar', { :controller => :products, :action => :post_confirm_buy_to_factory, :quantity => @quantity }, { :method => :post } %>

<br>

<%= link_to 'Back', products_path %>