<p id="notice"><%= notice %></p>

<h1>Comprar <%= @product.name %> a Proveedor </h1>

<table>
  <thead>
  <tr>
    <th>Producto</th>
    <th>Proveedor</th>
    <th>Cantidad</th>
    <th>Tiempo</th>
    <th>Precio</th>
    <th>Stock Disponible</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @producer.group_number %></td>
    <td><%= @quantity %></td>
    <td><%= @produce_time %></td>
    <td><%= @producer_price %></td>
    <td><%= @producer_stock %></td>
  </tr>
  </tbody>
</table>



<%= link_to 'Comprar', { :controller => :products, :action => :post_confirm_buy_to_producer, :producer_id => @producer.producer_id, :quantity => @quantity, :producer_price => @producer_price, :producer_stock => @producer_stock }, { :method => :post } %>

<br>

<%= link_to 'Back', products_path %>