<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Name</th>
      <th>Product type</th>
      <th>Unit</th>
      <th>Unit cost</th>
      <th>Lote</th>
      <th>Ingredients</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% size = product.ingredients.size %>
      <tr>
        <td><%= product.sku %></td>
        <td><%= product.name %></td>
        <td><%= product.product_type %></td>
        <td><%= product.unit %></td>
        <td><%= product.unit_cost %></td>
        <td><%= product.lote %></td>
        <td><%= size %></td>
        <td><%= link_to 'Show', product %></td>
        <% if @my_products[product.sku.to_i] != nil %>
            <td><%= link_to 'Comprar', buy_product_path(id: product.id) %></td>
        <% elsif @my_ingredients[product.sku.to_i] %>
            <td><%= link_to 'Comprar', buy_product_path(id: product.id) %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>
