<p id="notice"><%= notice %></p>

<h1>Producir <%= @product.name %> </h1>

<%= form_tag(post_produce_product_path) do %>

    <div class="field">
      <%= label_tag :cantidad %>
      <%= number_field_tag :quantity %>
    </div>

    <div class="field">
      <%= label_tag :tiempo_maximo %>
      <%= number_field_tag :maximum_time %>
    </div>

    <div class="actions">
      <%= submit_tag%>
    </div>
<% end %>

<%= link_to 'Back', products_path %>