<p id="notice"><%= notice %></p>

<h1>Factory Orders</h1>

<table>
  <thead>
  <tr>
    <th>Fo</th>
    <th>Sku</th>
    <th>Group</th>
    <th>Dispatched</th>
    <th>Available</th>
    <th>Quantity</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @factory_orders.each do |factory_order| %>
      <tr>
        <td><%= factory_order.fo_id %></td>
        <td><%= factory_order.sku %></td>
        <td><%= factory_order.group %></td>
        <td><%= factory_order.dispatched %></td>
        <td><%= factory_order.available %></td>
        <td><%= factory_order.quantity %></td>
        <td><%= link_to 'Show', factory_order %></td>
        <td><%= link_to 'Edit', edit_factory_order_path(factory_order) %></td>
        <td><%= link_to 'Destroy', factory_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factory Order', new_factory_order_path %>
